# .env.example
# Copy this file to .env and fill in your actual values

db_url=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/<dbname>
JWT_USER=<your_jwt_user_secret>
JWT_ADMIN=<your_jwt_admin_secret>